@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

.App {
  text-align: center;
  font-family: 'Satisfy', cursive;
  background: black;
  color: rgb(240, 168, 240);
  padding: 32px;
}

