@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background: lightblue;
  color: navy;
  padding: 32px;
}

.member {
  border: 3px solid dodgerblue;
  border-radius: 25px;
  margin: 30px 100px;
}

